:root {
    --bg-color: aliceblue;
    --text-color: midnightblue;
    --text-size: 2rem;
    --line-height: 1.8em;
    --tile-bg-color: darkorange;
    --tile-grid-max-width: 80vw;
}

html {
    font-size: 10px;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: var(--text-size);
    line-height: var(--line-height);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
