:root {
    --bg-color: aliceblue;
    --text-color: midnightblue;
    --text-size: 2rem;
    --line-height: 1.8em;
}

html {
    font-size: 10px;
}

body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: var(--text-size);
    line-height: var(--line-height);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
