@use "../base";
@use "tile-grid";

body {
    --bg-color: lavender;
    --text-color: sienna;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;

    > header {
        background-color: lightskyblue;
        padding: 2rem;
    }

    > main {
        background-color: lightgoldenrodyellow;
        padding: 2rem;
    }
}
